@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;

  
    
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
   
    position: fixed;
    width: 100%;
    
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(30px);
    margin-bottom: 200px;
    z-index: 1000;
}

/* Logo styling */
.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.logo img {
    margin-left: 10px;
    height: 40px;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 100px;
    margin-top: 20px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex: 1; /* Center content */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin: 0 15px; /* Adjust spacing */
}

.navbar-nav li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 19px;
}

/* Download button styling */
.download-btn-nav {
    background-color: #00b89c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 400px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn-nav:hover {
    background-color: #00896c;
}

/* Menu icon styling */
.menu-icon {
    display: none; /* Hidden by default */
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

/* Responsive styling */
@media (max-width: 700px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Adjust based on header height */
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(50px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        transition: all 1s ease-in-out;
    }

    .navbar-nav li {
        width: 100%;
        padding: 10px 20px;
    }

    .menu-icon {
        display: block;
        margin-left: 200px;
        /* Show menu icon on small screens */
    }

    .navbar-nav.show {
        display: flex;
    }

    .download-btn-nav {
        width: 60%;
        margin: 10px auto; /* Centered in the dropdown menu */
    }
}
@media (max-width: 800px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Adjust based on header height */
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(50px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        transition: all 1s ease-in-out;
    }

    .navbar-nav li {
        width: 100%;
        padding: 10px 20px;
    }

    .menu-icon {
        display: block;
        margin-left: 200px;
        /* Show menu icon on small screens */
    }

    .navbar-nav.show {
        display: flex;
    }

    .download-btn-nav {
        width: 60%;
        margin: 10px auto; /* Centered in the dropdown menu */
    }

}
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding-top: 70px;
    
}
.img{
    width: 30px;
    height: 30px;
}
.text-content {
    max-width: 600px;
    margin-right: 20px;
}

.text-content h1 {
    font-size: 48px;
    margin: 0;
}

.text-content .highlight {
    color: #00d1b2;
    animation: fadeIn 0.5s ease-in-out;
}

.text-content p {
    font-size: 18px;
    margin: 20px 0;
}

.buttons {
    display: flex;
    gap: 10px;
}
.download-btn {
    background: #00b89c;
    border: 2px solid #00d1b2;
    color:white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    
    cursor: pointer;
}
.tour-btn {
    background:transparent;
    border: 2px solid #00d1b2;
    color:#00d1b2;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    
    cursor: pointer;
}

.tour-btn:hover {
    background-color: #00d1b2;
    color: #fff;
}

.video-content {
    max-width: 600px;
    overflow: hidden;
  

}

video {
    width: 100%;
    height: auto;
}
@media (max-width: 700px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-content {
        order: 2;
        max-width: 80%;
        margin-right: 0;
        text-align: left;
        padding: 20px;
        margin-right: 100px;
    }

    .video-content {
        order: 1;
    
        max-width: 100%;
    }

    .text-content h1 {
        font-size: 36px;
    }

    .text-content p {
        font-size: 16px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .download-btn, .tour-btn {
        width: 100%;
        font-size: 14px;
    }
}
/*Section2*/
.hero-2{

   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #f5f5f5;

}
.text-content-2{
 
    max-width: 500px;
    text-align: left;
}
.text-content-2 h1{

    font-size: 48px;
}
.text-content-2 .highlight{

    color: #00d1b2;
}
.text-content-2 p{
font-size: 25px;
line-height: 1.1;
}
.text-content-2 img{

    width: 80%;
    height: auto;
}
 .hero-2 img{

    width: 80%;
    height: auto;
}
@media (max-width: 700px) {

    .text-content-2{
 
        max-width: 400px;
        text-align: left;
    }
    .text-content-2 h1{
    
        font-size: 35px;
    }
    .text-content-2 p{
        font-size: 18px;
        line-height: 1.1;
        }
        .hero-2 img{

            width: 100%;
            height: auto;
        }
    }



    .cards1 {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
        justify-content: center; /* Center the grid within the container */
        align-items: flex-start; /* Align items to the start of the grid cell */
        gap: 100px; /* Space between grid items */
        margin: 40px 0; /* Margin around the grid container */
    }

.card1 {
    background-color:transparent;
    border-radius: 10px;
    
    padding: 20px;
    max-width: 200px;
    text-align: left;
    transition: transform 0.3s;
}

.card1:hover {
    transform: translateY(-10px);
}

.video-container video {
    width: 20%;
    height: 20%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card1 h3 {
    font-size: 24px;
    margin: 10px 0;
}

.card1 p {
    font-size: 16px;
    width: 250px;
    color: #666;
}
/* Media query for responsive design */
@media (max-width: 700px) {
    .cards1 {
        grid-template-columns: 1fr; /* 1 column for screens 700px or smaller */
    }

    .card1 {
        width: 80%; /* Adjust card width */
        margin-bottom: 20px; /* Space between cards */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .video-container video {
        width: 60%; /* Make video full width */
        height: auto; /* Adjust height to maintain aspect ratio */
    }

    .card1 h3 {
        font-size: 25px; /* Adjust font size */
    }

    .card1 p {
        font-size: 18px; /* Adjust font size */
    }
}
/*Section3*/
.project-templates {
    text-align: center;
    padding: 40px 20px;
    width: 800px;
    background-color: #f5f5f5;
    text-align: left;
}

.project-templates h2 {
    font-size: 36px;
    color: #333;
}

.project-templates .highlight {
    color: #00d1b2;
}

.project-templates p {
    font-size: 25px;
    color: #666;
    margin-bottom: 40px;
    
}

.template-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Allows wrapping of cards */
}

.template-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.template-card:hover {
    transform: translateY(-10px);
}

.video-container {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.video-container video {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.template-card h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.template-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.template-card .available-now,
.template-card .coming-soon {
    background-color: #00d1b2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.template-card .coming-soon {
    background-color: #ccc;
}

.template-card .available-now:hover {
    background-color: #00b89c;
}

.template-card .coming-soon:hover {
    background-color: #b3b3b3;
}
/*Label ssection*/
.label-your-images {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

.video-card {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 40px;
    overflow: hidden;
    border-radius: 15px;
    
}

.video-card video {
    width: 100%;
    height: auto;
    object-fit: cover;
}




.text-content {
    max-width: 600px;
    margin: 0 auto;
text-align: left;
margin-bottom: 100px;
margin-left: 100px;
}

.text-content h2 {
    font-size: 40px;
    color: #333;
}

.text-content .highlight {
    color: #00d1b2;
}

.text-content p {
    font-size: 30px;
    color: #666;
    margin-top: 20px;
}
#text-contentcard2 {
    max-width: 600px;
    margin: 0 auto;
text-align: left;
margin-bottom: 100px;
margin-right: 100px;
}
/*Export section*/
.export-section {
    text-align: center;
    padding: 100px 20px;
    background-color: rgb(240, 239, 239);
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.export-section .content {
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
    margin-left: 40px;
}

.export-section .content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.export-section .content h1 span {
    color: #20c997;
}

.export-section .content p {
    font-size: 20px;
    color: #6c757d;
    margin-bottom: 20px;
}

.export-section .learn-more {
    color: #20c997;
    text-decoration: none;
    font-size: 18px;
}

.export-section .icons {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; /* Center the container */
margin-top: 50px;
}

.export-section .icons img {
    width: 50px;
    height: 50px;
}

/* Responsive design for screens 700px or less */
@media screen and (max-width: 700px) {
    .export-section .content h1 {
        font-size: 36px;
    }

    .export-section .content p {
        font-size: 16px;
    }

    .export-section .learn-more {
        font-size: 16px;
    }

    .export-section .icons {
        grid-template-columns: repeat(4, 1fr); /* 4 icons per row */
        gap: 5px;
    }

    .export-section .icons img {
        width: 40px;
        height: 40px;
    }
}
/* Media query for responsive design */
@media (max-width: 700px) {
    .video-card {
        width: 100%;
    }

    .overlay-text-container {
        display: none; /* Hide overlay text on small screens */
    }

    .text-content {
        margin-top: 20px;
    }

    .text-content h2 {
        font-size: 28px;
    }

    .text-content p {
        font-size: 16px;
    }
}
/* Media query for responsive design */
@media (max-width: 700px) {
    .template-cards {
        flex-direction: column;
        align-items: center;
    }

    .template-card {
        width: 80%; /* Adjust card width */
        margin-bottom: 20px; /* Space between cards */
    }
    .video-container {
        width: 100px;
        height: 100px;
        
        margin-bottom: 20px;
    }
    .project-templates {
        text-align: center;
        padding: 40px 20px;
        width: 400px;
        
        background-color: #f5f5f5;
        text-align: left;
    }
    
    .project-templates h2 {
        font-size: 30px;
        color: #333;
    }
    
    .project-templates .highlight {
        color: #00d1b2;
    }
    
    .project-templates p {
        font-size: 20px;
        color: #666;
        margin-bottom: 40px;
        
    }

}
@media screen and (max-width: 700px) {
    .export-section .content h1 {
        font-size: 36px;
    }

    .export-section .content p {
        font-size: 16px;
    }

    .export-section .learn-more {
        font-size: 16px;
    }

    .export-section .icons {
        grid-template-columns: repeat(4, 1fr); /* 4 icons per row */
    }

    .export-section .icons img {
        width: 40px;
        height: 40px;
    }
}
.testimonials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color:transparent;
}

.testimonial {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 100px;
    padding-left: 30px;
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 30px;
}

.testimonial img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 20px;
}

.testimonial p {
    font-size: 16px;
    color: #555;
}

.testimonial h4 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
}

.testimonial .title {
    font-size: 14px;
    color: #777;
}
/* Responsive Styles */
@media (max-width: 700px) {
    .testimonials {
        flex-direction: column;
        align-items: flex-start;
    }

    .testimonial {
        width: 100%;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    .testimonial img {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }

    .testimonial h4 {
        font-size: 16px;
    }

    .testimonial p {
        font-size: 14px;
    }

    .testimonial .title {
        font-size: 12px;
    }
}
/*Examples Section*/
.examples {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
}

.examples h1 {
    font-size: 36px;
    color: #333;
    width: 400px;
    margin-left: 40px;
    text-align: left;
}

.examples h1 span {
    color: #00c9a7;
}

.examples p {
    font-size: 18px;
    color: #666;
    width: 500px;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 30px;
}

.slider {
    overflow: hidden;
    width: 100%;
    margin: 20px 0;
}

.slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.slide {
    min-width: 25%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.slide video {
    width: 100%;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
}
/* Responsive Styles */
@media (max-width: 700px) {
    .examples h1 {
        font-size: 28px;
    }

    .examples p {
        font-size: 16px;
        width: 300px;
        margin-right: 50px;
    }

    .slide-track {
        display: flex;
        animation: scroll 10s linear infinite;
    }

    .slide {
        min-width: 100%;
        padding: 5px;
    }

    .overlay {
        font-size: 16px;
        padding: 3px 5px;
    }

    .slider {
        margin: 10px 0;
    }
}
/*Main and footer */
.main-section {
    text-align: center;
    padding: 100px 20px;
    flex: 1;
}

.main-section h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 30px;
}

.download-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #00c9a7;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #00a58e;
}

.footer {
    background-color: #f1f1f1;
    padding: 30px 20px;
    text-align: left;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    margin: 20px;
    flex: 1;
    min-width: 150px;
}

.footer-section h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #00c9a7;
}

.footer-section .logo img {
   
    margin-bottom: 10px;
}

.footer-section .logo p {
    font-size:12px;
    color: #777;
    line-height: 1.5;
}

.footer-section.social a {
    display: inline-block;
    margin-right: 10px;
}

.footer-section.social a img {
    width: 30px;
    transition: opacity 0.3s;
}

.footer-section.social a img:hover {
    opacity: 0.7;
    background-color: #00b89c;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .main-section h1 {
        font-size: 36px;
    }

    .download-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
        min-width: 100%;
        text-align: center;
    }

    .footer-section ul {
        text-align: center;
    }
}
/*Styles for  Examples page*/
.containerExamples {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 20px;
    padding-top: 70px;
    margin-left: 100px;
    
    
}
.textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.textarea h1 {
    font-size: 3.0em;
    margin-left: 50px;
    justify-content: center;
    margin-bottom: 0.2em;
}

.textarea p {
    font-size: 1.2em;
    color: #555;
    width: 600px;
    
}

.example-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    margin-left: 10px;
    margin-top: 2em;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 48%;
    max-width: 400px;
    margin-bottom: 20px;
    text-align: left;
}

.card video {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-content .label {
    display: inline-block;
    background: #00d084;
    color: white;
    padding: 2px 8px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.card-content h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card-content p {
    color: #666;
}
.containerExamples .highlights{
    color :#00c9a7;
}
/* Responsive layout for screens 700px or smaller */
@media (max-width: 700px) {
    .example-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 70%;
        max-width: none;
       margin-right: 40px;
    }
    .textarea h1 {
        font-size: 2.0em;
        justify-content: center;
        margin-right: 40px;
        margin-bottom: 0.2em;
    }
    
    .textarea p {
        font-size: 1.2em;
        color: #555;
        margin-right: 50px;
        width: 400px;
        
    }
    .containerExamples{
margin-left: -1px;

    }
}
/*Tour Page style*/
.video-content-tour {
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
  

}
/*for blog page*/
.card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Ensure two cards per row */
    gap: 10px; /* Reduced gap between cards */
    max-width: 1200px;
    padding: 20px;
    margin-left: 170px;
    box-sizing: border-box;
    justify-content: center; /* Center the grid within the container */
}
.card-link {
    text-decoration: none; /* Removes the underline from the link */
    color: inherit; /* Ensures the text color of the card is maintained */
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
    width: 100%; /* Ensure cards take full width of column */
    max-width: 450px; /* Set a maximum width for the cards */
}
.card-link {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color */
   
    box-sizing: border-box;
}
.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.card-content p {
    color: #777;
    margin: 10px 0;
}

.card-content .card-date {
    color: #aaa;
    font-size: 0.9em;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
        padding: 10px;
        margin-left: -1px;
    }
}
/*blog posts Style*/
.blog-header {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    padding-top: 70px;
    background-color: #fff;
 
}

.blog-header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

.release-date {
    margin: 10px 0 0 0;
    color: #888;
}

.blog-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: #fff;
   
}

.main-image img {
    width: 100%;
    border-radius: 10px;
}

.content-section {
    margin-top: 20px;
}

.content-section h2 {
    color: #333;
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content-section p {
    color: #555;
    line-height: 2.0;
    font-weight: normal;
}

.content-image img {
    width: 80%;
    margin-top: 10px;
    border-radius: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .blog-header h1 {
        font-size: 2em;
        padding-top: 70px;
    }

    .blog-content {
        padding: 10px;
    }

    .content-section h2 {
        font-size: 1.5em;
    }
}
/*Styls for Help page*/
.container-help {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    width: 1200px;
    
}

.sidebar {
    width: 200px;
    background-color:transparent;
    padding: 20px;
    margin-left: 300px;
    height: auto;
   
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color:#98ddd2;
}

.content {
    
    padding: 20px;
    width: calc(100% - 220px);
}

.faq {
    margin-bottom: 30px;
}

.faq h2 {
    cursor: pointer;
    padding: 10px;
    font-weight: light;
    font-size: 20px;
    border-bottom: 0.5px solid #000;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
}

.faq .answer {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.faq .answer ul {
    padding-left: 20px;
}

.faq .answer ul li {
    list-style-type: disc;
}
@media (max-width: 700px) {
    .container-help {
        flex-direction: column;
        width: 90%;
    }

    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
        width: 100%;
        padding: 20px 10px; /* Adjust padding for smaller screens */
    }

    .faq {
        width: 100%;
        box-sizing: border-box;
    }
}